.recent {
  font-family: "Dongle", sans-serif;
  text-align: center;
  margin-top: 10%;
}

.recent h1 {
  font-family: "Artifika", serif;
}

a {
  text-decoration: none;
}

.recent p {
  font-size: 2rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 50px;
}

.project > div {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(20, 20, 20);
  color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  transition: opacity 0.4s ease;
}

.project div .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project div:hover img,
.project div:focus img {
  opacity: 0; /* Hide image on hover/focus */
  animation: hide 0.1s ease 0.2s forwards;
}

@keyframes hide {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.project div:hover .content,
.project div:focus .content {
  opacity: 1; /* Show content on hover/focus */
}

.links {
  border: 1px solid rgb(255, 255, 255);
  margin: 10px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: transparent;
  font-size: larger;
  color: white;
  transition: 0.5s ease;
}

.links a {
  text-decoration: none;
  color: white;
}

.links:hover,
.links:focus {
  background-color: #630ae2;
}

@media screen and (max-width: 700px) {
  .project {
    grid-template-columns: 1fr;
    margin: 20px;
    gap: 20px;
  }

  .recent p {
    font-size: x-large;
  }

  .links {
    font-size: small;
    margin-top: 20%;
  }
}
